:root {
    --main-text-color: #4F637D;
    --title-text-color: #20496C;
    --blue-color: #32ABF2;
    --placeholder-text-color: #C3CAD5;
    --pagination-btn-color: #4F637D;
    --label-text-color: #364C66;
    --input-bcg-color: #F8F9FC;
    --succes-color: #65BD47;
    --google-btn-color: #5383EC;
    --sideBar-footer-text-color: #96CAF7;
    --dstp-pagination-btn-color: #134267;
}
