@import '../../commonStyles/colors.scss';

.logo{
    display: flex;
    align-items: center;

    color: var(--title-text-color);
    font-family: 'Eudoxus Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
}
.image{
    display: block;

    width: 30px;
    height: auto;
    margin-right: 2px;

}