@import '../../commonStyles/colors.scss';

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Inter';

    .image_wrapper{
        position: relative;
    }
    .image{
        
        display: block;
        
        width: 80px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        
        border-radius: 50%;
        &_icon{
            position: absolute;
            top: 0;
            right: 0;

            color: var(--succes-color);
            background-color: white;
            border-radius: 50%;
        }
    }
    .title{
        margin-top: 32px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        color: var(--title-text-color);

    }
    .text{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: var(--main-text-color);
    }
    .btn{
        margin-top: 16px;
        width: 100%;
        padding-top: 11px;
        padding-bottom: 11px;

        background-color: var(--blue-color);
        border-color: var(--blue-color);
    }
    .linkBtn{
        margin-top: 16px;

        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
    }
    .spanBtn{
        color: var(--blue-color);
    }
}